/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    height: 100px;
    color: black;
}

.logo-text {
    color: white;
    font-size: 30px;

    font-size: 40px;
    font-weight: bolder;

    background-image: linear-gradient(to right, #E9E7FB, #8697F1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Jua", sans-serif;
    font-weight: bold;

}





@font-face{
    font-family: "sf_pro_woff";
    src: url(sf_pro_regular.89120880.woff);
}

.logo img {
    height: 40px;
    color: white;
    margin-left: 180px;
    margin-bottom: 20px;
}

.nav-links {
    list-style: none;
    margin-right: 60px;
    margin-top: 10px;
    display: flex;

    align-items: center;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {

    text-decoration: none;


    font-size: 30px;
    font-weight: bold;

    margin-right: 70px;

    background-image: linear-gradient(to right, #E9E7FB, #8697F1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Jua", sans-serif;


}

.nav-links:last-child {
    margin-right: 30px;
}

.nav-links-1:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #ffffff
}

section {
    padding: 100px 20px;
    margin-top: 100px;
}

#about,
#team,
#project {
    height: 100vh;
    /* Adjust height as needed */
}

html {
    scroll-behavior: smooth;
}

main {
    color: white;
    background-color: #000000;
}

.polaris {
    font-weight: bold;
    font-size: 150px;
    background-image: linear-gradient(to right, #E9E7FB, #8697F1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Jua", sans-serif;
    /* text-align: center; */
    margin-right: 50w0px;
    padding-top: 120px;
    margin-left: 180px;
}

.bethebest {
    margin-top: 17px;
    font-weight: bold;
    margin-left: 180px;
    font-size: 40px;

}

.image-size {
    width: 300px;
    height: 300px;
    /* margin: 0 auto; */
}

.slide-item {
    
    
    align-items: center;
    justify-content: center;
}

.carousel-item{
    align-items: center;
}


.flex-direction {
    flex-direction: column;
    display: flex;
    margin-left: 10px;
    gap: 10px;
}
.ive{
    height: 500px;
}
.about-first-section{
    font-family: "Jua", sans-serif;
}

.about-first-section-1{
    margin-bottom: 20px;
    font-family: "Jua", sans-serif;
    font-size: 30px;
    margin-left: 20px;
    background-image: linear-gradient(to right, #e6e3ff, #607bff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.carousel-inner {
    width: auto;
    height: 680px;
  } 

.carousel-maintext{
    
    font-family: "Jua", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(92, 157, 255);
}
.carousel-subtext{
    margin-bottom: 350px;
    font-family: "Jua", sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    
}



















.project {
    background-image: linear-gradient(to right, #E9E7FB, #8697F1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Jua", sans-serif;
    font-size: 50px;
    margin-left: 20px;
}

.p1 {
    display: flex;
    justify-content: space-around;
    height: 80%;
    font-family: "Jua", sans-serif;
    
    
  
    
} 

.row{
    display: flex;
}


.hr-solid{
    border : 0px;
    border-top: 5px solid #2067ff;
}

.card1{
    font-size: 30px;
    background-image: linear-gradient(to right, #E9E7FB, #8697F1);
    background-clip: text;
}

.card:hover{
    transform: scale(1.10);
    .text-bg-dark{
        color: #2067ff;
    }
}




/* footer part */
.footer-content-area {
    display: flex-end;
    background-color: black;
    height: 500%;
    width: 100%;
    font-family: "Jua", sans-serif;
}

.row {
    padding: 60px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.col {
    color: white;
}

.copyright{
    color: gray;
}
